
.email-container {
    border-top: 1px solid black;
}

span {
    padding: 15px;
    margin-left: 20px;
}

span.email-recipient {
    margin-left: 15px;
}

span.email-details {
    font-weight: bold;
}

.remove-email {
    display: inline-flex;
}