html, body, div, header, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

nav .active {
    color: rgb(191, 228, 253);
    text-decoration: underline;
}

ul {
    list-style-type: none;
}
