html, body, div, header, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.book-app {
    display: flex;
}

img {
    margin: 0 auto;
    width: 350px;
    height: 350px;
    object-fit: contain;
}