.home-page {
    display: flex;
}

.home-links{
    margin: 150px auto;
    display: inline-flex;
}

.home-links img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 50px;
}