.home-page {
    display: flex;
}

/* .home-title {
    height: 100px;
    width: 100%;
    display: block;
} */

.home-links{
    margin: 150px auto;
    display: inline-flex;
}

img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}